/* 
====== 
Global Styles 
====== 
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--mainBlack);
  background: var(--mainBackground);
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
}

/* 
====== 
Navbar
======
*/
.navbar {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  position: relative;
}
.nav-center {
 width: 90vw;
 max-width: 1170px;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.btn {
  margin: 25px 0;
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  border-color: transparent;
  color: white;
  background: #0e0e0e;
  cursor: pointer;
  transition: all 0.3s linear;
}
.btn:hover {
  background: hsl(210, 22%, 49%);
}
.nav-links {
  display: none;
}
.nav-btn {
  display: none;
}
.logo{
  width: 80px;
  height: 80px;
}
/* nav media query */
@media screen and (min-width: 800px) {
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }
  .toggle-btn {
    display: none;
  }
  .nav-btn{
    display: inline-block;
  }
  .nav-links {
    display: block;
    justify-self: center;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* text-align: center; */
    /* height: 100%; */
    /* align-items: center; */
  }
  .nav-links li {
    height: 100%;
  }
  .nav-links li {
    text-transform: capitalize;
    display: inline-block;
    font-weight: bold;
    margin-right: 0.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 1.25rem;
    padding: 0.25rem 3rem;
    transition: all 0.3s linear;
  }
  .nav-btn{
    border: 0;
    padding: 0.9rem 4rem;
    font-style: normal;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    background: #f79616;
    border-radius: 30px;
    margin-left: 0.5rem;
  }
  .nav-btn:hover {
    background: #f78716;
    color: #fff;
    cursor: pointer;
  }
}
/* 
====== 
sidebar 
======
*/
.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -1;
  transition:all 0.3s linear;
  transform: scale(0);
  background: rgba(0, 0, 0, 0.5);
}
.sidebar-wrapper.show {
  visibility: visible;
  z-index: 2;
  transform: scale(1);
}
.sidebar {
  width: 90vw;
  height: 95vh;
  max-width:620px;
  background: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 4rem 2rem;
}
.close-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: hsl(210, 22%, 49%);
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.sidebar article {
  margin-bottom: 2rem;
}
.sidebar-sublinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.25rem;
}
.sidebar-sublinks a {
  display: block;
  color: hsl(209, 61%, 16%);
  text-transform: capitalize;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.sidebar-sublinks svg {
  color: hsl(210, 22%, 49%);
  margin-right: 1rem;
}
/* 
====== 
Home Page
======
*/
h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 14px;
  text-transform: capitalize;
}
.section {
  padding: 4.5rem 0;
}
.home {
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
}
.dropbox {
  /* position: absolute; */
  margin-top: 86px;
  width: 900px;
  height: 270px;
  background: rgba(22, 161, 242, 0.24);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 100px 0;
  text-align: center;
}
.dropbox p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}
/* .btn {
  margin-top: 91px;
} */
.download-btn {
  border: 0;
  padding: 0.9rem 4rem;
  font-style: normal;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  background: transparent;
  background: #f79616;
  border-radius: 30px;
  margin-left: 3.5rem;
}
.convert {
  border: 0;
  padding: 0.9rem 4rem;
  font-style: normal;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  background: #30b3ff;
  border-radius: 30px;
}

@media screen and (min-width: 576px) {
  .home {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}
/* 
====== 
Error Page
======
*/
.error-section {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
}
.error-page {
  text-align: center;
  text-transform: capitalize;
}
.error-page h1 {
  letter-spacing: 0.3rem;
}

/* 
====== 
Preview Page
======
*/
.preview{
  margin: 3rem 0;
}
label {
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
  resize: none;
  margin: 14px 0 30px;
}
.preview-btn{
  border: 0;
  padding: 0.9rem 4rem;
  font-style: normal;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  background: rgba(48, 179, 255, 0.61);
  border-radius: 30px;
}
