/* 
====== 
Global Styles 
====== 
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--mainBlack);
  background: var(--mainBackground);
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}
p {
  margin-bottom: 1.25rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--mainBlack);
}
a:hover {
  color: blue;
}
/* 
====== 
Navbar
======
*/
.navbar {
  height: 6rem;
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links li {
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.25rem;
  padding: 0.25rem 3rem;
  transition: all 0.3s linear;
}
.nav-links button {
  border: 0;
  padding: 0.9rem 4rem;
  font-style: normal;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  background: #f79616;
  border-radius: 30px;
  margin-left: 0.5rem;
}
.nav-links button:hover {
  background: #f78716;
  color: #fff;
  cursor: pointer;
}
.logo {
  width: 100px;
  height: 100px;
}

/* 
====== 
Home Page
======
*/
h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 14px;
  text-transform: capitalize;
}
.section {
  padding: 4.5rem 0;
}
.home {
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
}
.dropbox {
  /* position: absolute; */
  margin-top: 86px;
  width: 900px;
  height: 270px;
  background: rgba(22, 161, 242, 0.24);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 100px 0;
  text-align: center;
}
.dropbox p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}
.btn {
  margin-top: 91px;
}
.download-btn {
  border: 0;
  padding: 0.9rem 4rem;
  font-style: normal;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  background: transparent;
  background: #f79616;
  border-radius: 30px;
  margin-left: 3.5rem;
}
.convert {
  border: 0;
  padding: 0.9rem 4rem;
  font-style: normal;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  background: #30b3ff;
  border-radius: 30px;
}

@media screen and (min-width: 576px) {
  .home {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}
/* 
====== 
Error Page
======
*/
.error-section {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
}
.error-page {
  text-align: center;
  text-transform: capitalize;
}
.error-page h1 {
  letter-spacing: 0.3rem;
}

/* 
====== 
Preview Page
======
*/
.preview{
  margin: 3rem 0;
}
label {
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
  resize: none;
  margin: 14px 0 30px;
}
.preview-btn{
  border: 0;
  padding: 0.9rem 4rem;
  font-style: normal;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  background: rgba(48, 179, 255, 0.61);
  border-radius: 30px;
}
